#container-vida {
    position: fixed;
    /* Alinha no canto inferior esquerdo  */
    bottom: 20px; 
    left: 20px; 
    
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone de coração e a barra */
    z-index: 1000; /* Garante que fica na frente do Canvas do jogo */
}

#icone-coracao {
    font-size: 24px;
    margin-right: 8px;
}

#barra-fundo {
    width: 250px; 
    height: 25px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border: 2px solid #fff;
    border-radius: 15px;
    overflow: hidden; 
}

#barra-preenchimento {
    width: 100%; /* Mantém a largura controlada pelo JS */
    height: 100%;
    /* CORREÇÃO AQUI: Mudado de 90px para 90deg */
    background: linear-gradient(90deg, #ff0000, #990000); 
    transition: width 0.2s ease-out; 
}

#texto-invencivel{
    position:fixed;

    bottom:25px;
    right:20px;

    font-family:'Segoe UI',sans-serif;
    font-size:15px;
    font-weight:700;

    letter-spacing:2px;
    text-transform:uppercase;

    color:#8ec5ff;

    text-shadow:
    0 0 6px rgba(142,197,255,.7),
    0 0 15px rgba(142,197,255,.4);

    animation:piscarTexto 1.5s infinite alternate;

    z-index:1000;
}

@keyframes piscarTexto {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* ===========================
   TELA GAME OVER PROFISSIONAL
=========================== */

#tela-game-over{
    position: fixed;
    inset: 0;

    display:none;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at center,
    rgba(150,0,0,.15),
    rgba(0,0,0,.95));

    backdrop-filter: blur(10px);

    z-index:9999;
}


/* PAINEL */

.modal-conteudo{
    position:relative;

    width:650px;
    min-height:320px;

    padding:50px;

    overflow:hidden;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    border-radius:24px;
    background:
    linear-gradient(
    145deg,
    rgba(32,32,32,.95),
    rgba(10,10,10,.98)
    );
    border:1px solid rgba(255,255,255,.08);
    box-shadow:
    0 30px 60px rgba(0,0,0,.7),
    inset 0 1px 0 rgba(255,255,255,.05),
    0 0 40px rgba(0, 140, 255, 0.15);
}

/* linha azul superior */
.modal-conteudo::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:5px;
    background:
    linear-gradient(
    90deg,
    transparent,
    #3c97ff,
    transparent
    );
}

/* TÍTULO */
.titulo-game-over{

    margin:0;
    font-size:72px;
    font-family:'Impact',sans-serif;
    text-transform:uppercase;
    letter-spacing:8px;
    color:#4da9ff;

    text-shadow:
    0 0 10px rgba(0, 174, 255, 0.5),
    0 0 30px rgba(0, 162, 255, 0.4);

    animation:pulsarGameOver 2s infinite;
}


@keyframes pulsarGameOver{
    0%{
        opacity:.7;
    }
    100%{
        opacity:1;
    }
}


/* SUBTÍTULO */
.subtitulo-game-over{
    margin-top:15px;
    margin-bottom:30px;
    font-size:20px;
    color:#b8b8b8;
    text-transform:uppercase;
    letter-spacing:4px;
}

/* BOTÃO */
#btn-reiniciar{
    padding:16px 40px;
    font-size:15px;
    border:none;
    border-radius:10px;
    background:
    linear-gradient(
    135deg,
    #1c71b6,
    rgb(28, 120, 182)
    );
    color:white;
    font-weight:bold;
    letter-spacing:2px;
    cursor:pointer;
    transition:.3s;
    box-shadow:
    0 10px 25px rgba(255, 255, 255, 0.35);
}

#btn-reiniciar:hover{
    transform:
    translateY(-3px)
    scale(1.03);
    box-shadow:
    0 15px 35px rgba(17, 88, 155, 0.45);

}

#btn-reiniciar:active{
    transform:scale(.98);
}

/* AVIÃO */
.aviao-tela-gameover{
    position:absolute;
    right:-160px;
    bottom:-25px;
    width:712px;
    opacity:.85;
    filter:
    drop-shadow(
    0 10px 15px rgba(0,0,0,.8)
    );
    pointer-events:none;
}

/* DRONE */
.drone-tela-gameover{

    position:absolute;

    left:-130px;
    top:0;

    width:500px;

    opacity:.8;

    transform:rotate(-18deg);

    filter:
    drop-shadow(
    0 10px 10px rgba(99, 98, 98, 0.8)
    );
    pointer-events:none;
}
