#container-vida {
    position: fixed;
    /* Alinha no canto inferior esquerdo  */
    bottom: 20px; 
    left: 20px; 
    
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone de coração e a barra */
    z-index: 1000; /* Garante que fica na frente do Canvas do jogo */
}

#icone-coracao {
    font-size: 24px;
    margin-right: 8px;
}

#barra-fundo {
    width: 250px; 
    height: 25px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border: 2px solid #fff;
    border-radius: 15px;
    overflow: hidden; 
}

#barra-preenchimento {
    width: 100%; /* Mantém a largura controlada pelo JS */
    height: 100%;
    /* CORREÇÃO AQUI: Mudado de 90px para 90deg */
    background: linear-gradient(90deg, #ff0000, #990000); 
    transition: width 0.2s ease-out; 
}

/* Tela de Game Over (Modal escuro de fundo) */
#tela-game-over {
    position: fixed; /* Força a ficar preso na tela */
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Um número bem alto garante que fica na frente do 3D */
    font-family: Arial;
    color: white;
    cursor: default !important;
}
.modal-conteudo {
    text-align: center;
    background-color: #222;
    padding: 60px;
    border-radius: 15px;
    border: 3px solid rgb(47, 90, 51);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

#btn-reiniciar {
    padding: 12px 24px;
    font-size: 18px;
    background-color: rgb(47, 90, 51);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    transition: background 0.2s;
    pointer-events: auto !important;
}

#btn-reiniciar:hover {
    background-color: #525050;
}

#texto-invencivel {
    position: fixed;
    bottom: 25px; /* Alinhado na mesma altura da barra de vida */
    right: 20px;  /* Fixado no canto direito */
    color: #000000; /* Azul neon chamativo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px; /* Espaçamento entre as letras */
    text-shadow: 0 0 10px #000000; /* Efeito de brilho neon */
    z-index: 1000; /* Garante que fica por cima do Canvas do jogo */
    
    /* Opcional: Uma animação simples para o texto ficar piscando suavemente */
    animation: piscarTexto 1.5s infinite alternate;
}

@keyframes piscarTexto {
    from { opacity: 0.4; }
    to { opacity: 1; }
}